# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS-related
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm/

# Coverage reports
coverage/

# IDEs
.vscode/
.idea/

# Build
dist/
